.productGrid {

    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    padding: 3rem;
    background-color: #f9f9f9;

    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, auto); 
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, auto); 
    }



}