
.navbar {
    background-color: $primaryColor;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    overflow-x: hidden;

    @media (min-width: 1024px) {
        padding: 0.5rem 3rem;
    }

    div {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;

        h1 {
            font-size: 26px;
            font-weight: 600;
            line-height: 15px;
            text-align: left;

            @media (min-width: 1024px) { 
                font-size: 40px;
                font-weight: 600;
                line-height: 19px;
            }
        }

        h2 {
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-align: left;

            @media (min-width: 1024px) { 
                font-size: 20px;
                font-weight: 300;
                line-height: 19px;
            }
        }
    }
}