
.navbar {
    background-color: $primaryColor;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 3rem;
    justify-content: space-between;

    div {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;

        h1 {
            font-size: 40px;
            font-weight: 600;
            line-height: 19px;
            text-align: left;
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
            line-height: 19px;
            text-align: left;
        }
    }
}